@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-back28:before {
	content: "\e000";
}
.flaticon-back39:before {
	content: "\e001";
}
.flaticon-blank32:before {
	content: "\e002";
}
.flaticon-business35:before {
	content: "\e003";
}
.flaticon-check51:before {
	content: "\e004";
}
.flaticon-childish:before {
	content: "\e005";
}
.flaticon-computing8:before {
	content: "\e006";
}
.flaticon-credit-card30:before {
	content: "\e007";
}
.flaticon-credit48:before {
	content: "\e008";
}
.flaticon-direction129:before {
	content: "\e009";
}
.flaticon-exit13:before {
	content: "\e00a";
}
.flaticon-eye21:before {
	content: "\e00b";
}
.flaticon-eye52:before {
	content: "\e00c";
}
.flaticon-eyeball13:before {
	content: "\e00d";
}
.flaticon-eyeglasses17:before {
	content: "\e00e";
}
.flaticon-eyeglasses18:before {
	content: "\e00f";
}
.flaticon-eyeglasses30:before {
	content: "\e010";
}
.flaticon-eyeglasses8:before {
	content: "\e011";
}
.flaticon-increasing5:before {
	content: "\e012";
}
.flaticon-leftarrow47:before {
	content: "\e013";
}
.flaticon-left222:before {
	content: "\e014";
}
.flaticon-microscopes1:before {
	content: "\e015";
}
.flaticon-operatingsystem:before {
	content: "\e016";
}
.flaticon-optical2:before {
	content: "\e017";
}
.flaticon-report1:before {
	content: "\e018";
}
.flaticon-searching1:before {
	content: "\e019";
}
.flaticon-snellen1:before {
	content: "\e01a";
}
.flaticon-square261:before {
	content: "\e01b";
}
.flaticon-tick8:before {
	content: "\e01c";
}
.flaticon-view19:before {
	content: "\e01d";
}
.flaticon-view22:before {
	content: "\e01e";
}
.flaticon-view24:before {
	content: "\e01f";
}
